*,
*::after,*::before{
    box-sizing: border-box;
}
body{
    display: grid;
    height: 100Vh;
    place-items: center;
}
input{
    display: block;
    border:1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: 100%;
}
label{
    margin-bottom: 0.5rem;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.text-center{ text-align: center;}
.input-group {
    margin: 1rem 0;
}
form{
    width:400px;
    margin: 0 auto;
    border:1px solid #ccc;
    border-radius: .25rem;
    padding: 10px;
    background:#f7f2f2;
}
.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  @keyframes animate {
    from{
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
    
  }
  
.width-50{
    width:50%
}
.ml-auto{
    margin-left:auto
}
.btn{
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: #1164e0;
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #1164e0;
}
.btn-groups{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0;
}
.progress-step{
  width: 2rem;
  height: 2rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.progress-step::before{
    counter-increment: step;
    content:counter(step);
}
.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}
.progressbar::before,
.progress{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    height: 4px;
    background-color: #dcdcdc;
    content: '';
    width: 99%;
}
.progress{
  background-color: #1164e0;
  width: 0%;
  transition: 0.3s;
}
.progress-step-active {
    background-color:#1164e0;
    color: #f3f3f3;
  }

